@import 'tailwindcss';

@theme {
  /* Color */
  --color-wx-sky-50: #c3e0fb;
  --color-wx-sky-100: #e4f0fe;
  --color-wx-navy-900: #001133;
  --color-wx-gray-200: #f1f3f6;
  --color-wx-gray-300: #dfe2e8;
  --color-wx-gray-700: #989eaa;
  --color-wx-aqua-100: #cdf0eb;
  --color-wx-amber-100: #fff4da;
  --color-wx-orange-100: #ffd9c7;
  --color-wx-pink-200: #fdd4d7;
  --color-app-bg-light: #ffffff;
  --color-app-bg-dark: #0b1528;

  /* Sizing */
  --max-w-app: 1100px;
  --max-w-mobile: 440px;

  --container-app: 1100px;
  --container-mobile: 440px;

  /* Border Radius */
  --radius-tab: 10px;
  --radius-card: 30px;
  --radius-card-mobile: 10px;
  --radius-hero: 40px;
  --radius-hero-mobile: 20px;

  /* Spacing */
  --spacing-5-5: 1.375rem;

  /* Fonts */
  --font-inter: Inter, ui-sans-serif, serif;
}

@layer utilities {
  .container {
    @apply w-full mx-auto md:max-w-app max-w-mobile;
  }
}

.dark {
  background-color: var(--color-app-bg-dark);
}
